{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@AcmeShagtvBundle/Resources/public/js/hinclude.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}