{% extends '@AcmeShagtv/layout.html.twig' %}

{% block content %}
    <div>
        <a href="{{ asset(url('acme_shagtv_info', {id: post.id})) }}">К публикации</a>
    </div>
    <h1>Новая публикация</h1>

    {% form_theme form 'form_table_layout.html.twig' %}

    {{ form(form) }}

{% endblock %}