{% extends '@AcmeShagtv/layout.html.twig' %}

{% block body %}
    <div>
        <a href="{{ asset(url('acme_shagtv_new')) }}">Новая</a>
    </div>
	<h1>Последние публикации</h1>
	<hr>
	{% for post in posts %}
		{{ render(controller('AcmeShagtvBundle:Default:infoBlock', { 'id': post.id })) }}
		<hr>
	{% endfor %}
{% endblock %}