{% extends '@AcmeShagtv/layout.html.twig' %}

{% block content %}
    <div>
        <a href="{{ asset(url('acme_shagtv_index')) }}">Список публикаций</a>
    </div>
    <h1>Новая публикация</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}